<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CustomKeys</key>
	<dict>
		<key>CIWfC</key>
		<string>Customer Incorrect Wifi Configuration</string>
		<key>WfCI</key>
		<string>Wifi Channel Interference</string>
		<key>WD</key>
		<string>Wire Defective</string>
		<key>NIF</key>
		<string>No Issue Found</string>
		<key>DS</key>
		<string>Dispatch Schedule</string>
	</dict>
</dict>
</plist>
